<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>G00473368 - Movies</ion-title>
    <ion-button (click)="openFavourites()">My Favourites</ion-button>
    <ion-button (click)="openHome()">Return Home</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <hr>
<ion-card-title>List of Movies containing "{{keyword}}"</ion-card-title>
<hr>

<ion-button (click)="sortByScoreDescending()"> Highest Score First</ion-button>
<ion-button (click)="sortByScoreAscending()"> Lowest Score First</ion-button>

<ion-card *ngFor="let movie of movieInfo">
  <img src= "{{'https://image.tmdb.org/t/p/w200' + movie.poster_path}}" />
  <ion-card-header>
    <ion-card-title>{{movie.original_title}}</ion-card-title>
    <ion-card-subtitle><strong>Release Date: </strong>{{movie.release_date}}</ion-card-subtitle>
    <ion-card-subtitle><strong>Movie Score: </strong> {{movie.vote_average}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content><strong>Description: </strong>{{movie.overview}}</ion-card-content>
  <ion-button (click)="openDetailsPage(movie)">+ Details</ion-button>
  <ion-button (click)="addToFavourites(movie)">Add to Favourites</ion-button>
</ion-card>
</ion-content>
