<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>G00473368 - Movie Details</ion-title>
    <ion-button (click)="openFavourites()">My Favourites</ion-button>
    <ion-button (click)="openHome()">Return Home</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src= "{{'https://image.tmdb.org/t/p/w500' + movie.poster_path}}" />
  <ion-title>{{movie.original_title}}: Cast and Crew</ion-title>
  <ion-card *ngFor="let member of castAndCrew.cast">
  <img src= "{{'https://image.tmdb.org/t/p/w200' + member.profile_path}}" />

<ion-card-header>
  <ion-card-title>Actor: {{member.name}}</ion-card-title>
  <ion-card-subtitle>Character: {{member.character}}</ion-card-subtitle>
  <ion-button (click)="openFavourites()">More from this Actor</ion-button>
</ion-card-header>
</ion-card>
</ion-content>
