<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>G00473368 - Home Page</ion-title>
    <ion-button (click)="openFavourites()">My Favourites</ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input label="Search a Movie:" placeholder="keyword" [(ngModel)]="keyword"></ion-input>
  <ion-button (click)="openMovies()">Search</ion-button>
  <h2>See what's trending now: </h2>

<ion-card *ngFor="let movie of trendingMovies">
  <img src= "{{'https://image.tmdb.org/t/p/w200' + movie.poster_path}}" />
  <ion-card-header>
    <ion-card-title>{{movie.original_title}}</ion-card-title>
    <ion-card-subtitle><strong>Release Date: </strong>{{movie.release_date}}</ion-card-subtitle>
    <ion-card-subtitle><strong>Movie Score: </strong> {{movie.vote_average}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content><strong>Description: </strong>{{movie.overview}}</ion-card-content>
  <ion-button (click)="openDetailsPage(movie)">+ Details</ion-button>

</ion-card>
</ion-content>
