<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cast Details</ion-title>
    <ion-button (click)="openFavourites()">My Favourites</ion-button>
    <ion-button (click)="openDetailsPage()">Return to Movie Details</ion-button>
    <ion-button (click)="openHome()">Return Home</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
  <img *ngIf="cast?.profile_path" src ="{{'https://image.tmdb.org/t/p/w200' + cast?.profile_path}}" />
  <ion-card-header>
    <ion-card-title>{{cast?.name}}</ion-card-title>
    <ion-card-subtitle><strong>Birthdate: </strong> {{cast?.birthday}}</ion-card-subtitle>
    <ion-card-subtitle><strong>Deathdate: </strong> {{cast?.deathday}}</ion-card-subtitle>
    <ion-card-subtitle><strong>Birthplace: </strong> {{cast?.place_of_birth}}</ion-card-subtitle>
    <ion-card-subtitle><strong>Also Known As: </strong> {{cast?.also_known_as}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content><strong>Biography: </strong>{{cast?.biography}}</ion-card-content>
  </ion-card>

  <h2>{{cast?.name}} also starred in: </h2>
<ion-card *ngFor="let movie of otherMovies">
  <img *ngIf="movie?.poster_path" src="{{'https://image.tmdb.org/t/p/w200' + movie?.poster_path}}"/>
  <ion-card-header>
    <ion-card-title>{{movie?.title}}</ion-card-title>
  </ion-card-header>
</ion-card>
</ion-content>

