<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cast Details</ion-title>
    <ion-button (click)="openFavourites()">My Favourites</ion-button>
    <ion-button (click)="openDetailsPage()">Return to Movie Details</ion-button>
    <ion-button (click)="openHome()">Return Home</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cast-details</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
