<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cast Details</ion-title>
    <ion-button (click)="openFavourites()">My Favourites</ion-button>
    <ion-button (click)="openDetailsPage()">Return to Movie Details</ion-button>
    <ion-button (click)="openHome()">Return Home</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img *ngIf="cast?.profile_path" src ="{{'https://image.tmdb.org/t/p/w200' + cast?.profile_path}}" />
    <ion-card-title>{{cast?.name}}</ion-card-title>
    <ion-card-title>{{cast?.birthday}}</ion-card-title>
    <ion-card-subtitle><strong>Release Date: </strong></ion-card-subtitle>
    <ion-card-subtitle><strong>Movie Score: </strong> </ion-card-subtitle>

</ion-content>
